/*********************************************************** 
SETUP
***********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

[data-theme="light"] {
    --color-background: rgb(245, 245, 245);
    --card-background: rgb(245, 245, 245);
    --color-text: rgb(56, 56, 56);
    --color-inverse: rgb(58, 207, 212);
    --color-links: rgb(87, 11, 142);
    --color-design-lines: linear-gradient(90deg, rgb(255, 221, 0) 0%, rgb(240, 0, 148) 50%, #3acfd4 100%);
    --color-selection: rgb(58, 207, 212);
    --box-shadow-small: -8px -8px 9px rgba(255,255,255,.8), 6px 6px 12px rgba(56,56,56,0.2);
    --img1: url(/images/site-design/bob-dark.png);
    --img2: url(/images/site-design/karol-western-dark.png);
    --img3: url(/images/site-design/blvd-dark.png);
    --img4: url(/images/site-design/tymer-dark.png);
    --img5: url(/images/site-design/bob-dark.png);
    --img6: url(/images/site-design/drawing-dark.png);
}

[data-theme="dark"] {
    --color-background: rgb(5, 5, 7);
    --card-background: rgb(12, 12, 14);
    --color-text: rgb(230, 230, 230);
    --color-inverse: rgb(236, 70, 142);
    --color-links: rgb(87, 11, 142);
    --color-design-lines: linear-gradient(90deg, rgb(255, 221, 97) 0%, rgb(234, 52, 131) 50%, rgb(71, 78, 215) 100%);
    --color-selection:rgb(87, 11, 142);
    --box-shadow-small: -4px -4px 4px rgba(24, 24, 24, .8), 4px 4px 6px rgba(0, 0, 0, 0.3);
    --img1: url(/images/site-design/bob-dark.png);
    --img2: url(/images/site-design/karol-western-dark.png);
    --img3: url(/images/site-design/blvd-dark.png);
    --img4: url(/images/site-design/tymer-dark.png);
    --img5: url(/images/site-design/bob-dark.png);
    --img6: url(/images/site-design/drawing-dark.png);
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    color: var(--color-text);
    font-family: 'Jost', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
}

.background {
    background: var(--color-background);
}

::selection {
    background-color: var(--color-selection); 
}

/*********************************************************** 
TYPOGRAPHY
***********************************************************/

h1, h2, h3, h4, h5, h6  {
    color: inherit;
    font-family: 'Jost', sans-serif; 
    font-size: 1.6rem;
    font-weight: 400;  
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

.main__headers {
    background: var(--color-background);
    display: flex;   
    font-size: 2.4rem;
    justify-content: center;
    margin: 10rem auto .8rem auto;   
    padding: 1rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 0s ease-out;
    max-width: 120rem;
    width: 15rem;
    z-index: 1;
}

.subpages__headers {
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease-out;
}

.innerpages__headers {
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: none;
}

@media only screen and (max-width: 521px) {

    .main__headers {  
        font-size: 2.6rem;
    }

    .subpages__headers {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 320px) {

    .subpages__headers {
        font-size: 2rem;
    }
    
}

/*********************************************************** 
DESIGN LINES
***********************************************************/

.design__lines-first {
    background-color: var(--color-design-lines);
    background-image: var(--color-design-lines);
    height: .5rem;
    width: auto;
    z-index: -1;
}

/*********************************************************** 
NAVIGATION
***********************************************************/

.navigation {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0rem -2.5rem;
    max-width: 100%;    
}

.navigation__hamburger, .navigation__label {
    display: none;  
}

.navigation__links {   
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    flex: 0;
    font-weight: 500;
    list-style: none;
    padding: 2rem 0;
    text-transform: uppercase;
}

.navigation__link-item {
    border: .1rem solid transparent;
    font-size: 1.8rem;
    padding: .5rem 3rem;
    cursor: pointer;
}

.navigation__link-item, .navigation__link-item:visited {
    position: relative;
}

.navigation__link-item:after, .navigation__link-item:visited:after {
    content: '';
    height: .3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: var(--color-design-lines);
    transition: 0.3s;
}

.navigation__link-item:hover:after, .navigation__link-item:visited:hover:after {
    width: 100%;
}

/***********************************************************
THEME BUTTON
***********************************************************/

.navigation__link-button {
    color: var(--color-text);
    background-color: var(--color-background);
    border: none;
    font-family: 'Jost', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding: .5rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation__link-button,
.navigation__link-button:visited {
    position: relative;
}

.navigation__link-button:after,
.navigation__link-button:visited:after {
    content: '';
    height: .3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: var(--color-design-lines);
    transition: 0.3s;
}

.navigation__link-button:hover:after,
.navigation__link-button:visited:hover:after {
    width: 100%;
}

/*********************************************************** 
SUB-NAVIGATION
***********************************************************/

.navigation__sub-links {
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-small); 
    font-size: 1.6rem;
    list-style: none;
    opacity: 0;
    position: absolute;
    margin: 1rem 0 0 -5rem;
    width: 18rem;
    visibility: hidden;
    z-index: 3;
}

.navigation__link-item:hover > .navigation__sub-links, .navigation__sub-links:hover { 
    display: block;
    opacity: 1;
    visibility: visible;
}

.navigation__sub-links-item {
    background: var(--color-background);
    cursor: pointer;
    padding: 1rem 2rem;
    position: relative;
    transition: all .1s ease-out; 
}

.navigation__sub-links-item:hover {
    color: var(--color-background);
    background: var(--color-design-lines);   
}

.navigation__sub-links-item:active {
    background: var(--color-design-lines);
}

/*********************************************************** 
MOBILE NAVIGATION
***********************************************************/

@media only screen and (max-width: 815px) {

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation__label {
        display: block;
        color: var(--color-text);
        font-size: 3rem;
        font-style: normal;
        margin: 0 3rem 3rem 0;
    } 
    
    .navigation__hamburger:checked ~ .navigation__links { 
        display: flex;
        flex-direction: column;
    }

    .navigation__label:hover {
        color: var(--color-inverse);
        transition: all .1s ease-in-out; 
    } 

    .navigation__links {   
        display: none;
        background: var(--color-background);
        box-shadow: var(--box-shadow-small);
        font-weight: 500;
        padding: 3rem 6rem;
        position: absolute;
        right: 0px;
        margin: 5rem 1rem 0 0;
        text-align: right;
        z-index: 3;
    }

    .navigation__link-item:not(:last-child) {
        margin-right: 0; 
    }

    .navigation__link-item {
        border: none;
        font-size: 2rem;
        padding: 0 .2rem .5rem .2rem;
    }
    
    .navigation__links a:hover {    
        color: var(--color-inverse);
    }

    .navigation__sub-links {
        display: flex;
        box-shadow: none; 
        flex-direction: column;
        list-style: none;
        margin: 0;
        opacity: 1;
        position: relative;
        width: 100%;
        visibility: visible;
    }

    .navigation__link-item, .navigation__link-item:visited {
        position: relative;
    }
 
    .navigation__link-item:after, .navigation__link-item:visited:after {
        background: none;
        height: 0;
        position: relative;
        transition: none;
    }
    
    .navigation__link-item:hover:after, .navigation__link-item:visited:hover:after {
        width: 0;
     }

    .navigation__link-button {
        font-size: 2rem;
        padding: .5rem .2rem;
    }

    .navigation__link-button:after,
    .navigation__link-button:visited:after {
        background: none;
        height: 0;
        position: relative;
        transition: none;
    }

    .navigation__link-button:after,
    .navigation__link-button:visited:after {
        width: 0;
    }

    .navigation__link-button:hover {
        color: var(--color-inverse);
    }
  
/* MOBILE SUB-NAVIGATION */

    .navigation__sub-links-item {
        background: none;
        cursor: pointer;
        padding: .5rem .2rem;       
        position: relative;    
        transition: all .2s ease-out;
        font-size: 2rem;
    }

    .navigation__link-item:hover > .navigation__sub-links, .navigation__sub-links:hover {      
        display: block;
        opacity: 1;
        visibility: visible;
    }
        
    .navigation__sub-links-item:hover {
        color: var(--color-inverse);
        background: var(--color-background);
    }

}

@media only screen and (max-width: 320px) {

    .navigation {       
        max-width: 28rem;    
    }
}

/*********************************************************** 
HEADER - INDEX
***********************************************************/

.header {
    align-items: center;
    display: flex;
    flex-direction: column; 
    margin-top: 10rem;   
    min-height: 200px;
    justify-content: center;
    width: 100vw;   
}

.header__intro {
    font-size: 6rem; 
    font-weight: 600;  
    line-height: 1.4;
    text-align: center;
    transition: all 1s ease-out; 
    z-index: 2; 
}

.header__paragraph {
    margin-top: 3rem;
    font-size: 2.6rem;
    line-height: 1.3;
    text-align: center;
}

@media only screen and (max-width: 815px) {

    .header__intro {
        font-size: 4rem;   
        line-height: 1.3;
    }

    .header__paragraph {
        margin: 3rem 2rem 0 2rem;
    }
}

/*********************************************************** 
PORTFOLIO - INDEX
***********************************************************/

.portfolio-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.portfolio-2__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.portfolio-2__card {
    color: var(--color-text);
    border-radius: 2rem;
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
    margin: 4rem;
    height: 60rem;
    overflow: hidden;
    position: relative;
    width: 40rem;
}
.portfolio-2__card-content {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.p-img1 {
    background-image: var(--img1);
}

.p-img2 {
    background-image: var(--img2);
}

.p-img3 {
    background-image: var(--img3);
}

.p-img4 {
    background-image: var(--img4);
}

.p-img5 {
    background-image: var(--img5);
}

.p-img6 {
    background-image: var(--img6);
}

.portfolio-2__card:hover {
    transform: scale(1.05) translateY(-1.4rem);
    transition: all 0.5s ease-in-out;
}

.portfolio-2__card-title  {
    opacity: 0;
    font-size: 2.2rem;
    inset: auto auto 52rem 3rem;
    margin: 0;
    position: absolute;
    transition: inset .3s .3s ease-out;
}

.portfolio-2__card:hover .portfolio-2__card-title {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.portfolio-2__card-desc {
    opacity: 0;
    font-size: 1.8rem;
    inset: auto auto 4rem 3rem;
    margin: 0;
    position: absolute;
    transition: inset .3s .3s ease-out;
}

.portfolio-2__card:hover .portfolio-2__card-desc {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

/*********************************************************** 
MOBILE PORTFOLIO - INDEX
***********************************************************/
@media only screen and (max-width: 1446px) {

    .portfolio-2 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .portfolio-2__row {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

/*********************************************************** 
ART - INDEX
***********************************************************/

.art__figure {
    max-width: 60rem;
    margin: 0 auto;
}

.art__image {
    width: 100%;
}

/*********************************************************** 
INDIVIDUAL PORTFOLIO PAGES
***********************************************************/

.portfoliopage {
    margin: 12rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-out;
}

.portfoliopage__intro {
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
    max-width: 75rem;
    transition: all .5s ease-out;
}

.portfoliopage__maintext {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    width: 50vw;
    max-width: 65rem;  
    transition: all .5s ease-out;   
}

.portfoliopage__paragraph {
   margin-top: 3rem;
}

.portfoliopage__list {
    margin-top: 2rem;
    list-style: none;
    line-height: 3rem;
}

.portfoliopage__list-title {
    font-size: 2.4rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.portfoliopage__list-item {
    margin-left: 6rem;
    list-style: none;
}
.portfoliopage__list-item-2 {
    margin-left: 8rem;
    list-style: none;
}

.portfoliopage__figure {
  max-width: 120rem;
  margin: 12rem auto 3rem auto;
  transition: all .5s ease-out;
}

.portfoliopage__figure-sec {
    max-width: 120rem;
    margin: 2rem auto 3rem auto;
    transition: all .5s ease-out;
}

.portfoliopage__figure-res {
    max-width: 60rem;
    margin: 12rem auto 3rem auto;
    transition: all .5s ease-out;
}

.portfoliopage_image {
    width: 100%;
}

@media only screen and (max-width: 815px) {

    .portfoliopage {
        margin: 6rem auto 0 auto;
    }

    .portfoliopage__intro {
        font-size: 2rem;
    }

    .portfoliopage__figure {
        margin: 6rem auto 3rem auto;
    }

    .portfoliopage__figure-sec {
        margin: 1rem auto 3rem auto;
    }

    .portfoliopage__figure-res {
        margin: 6rem auto 3rem auto;
    }

    .portfoliopage__maintext {
        width: 75vw;
    }
}

@media only screen and (max-width: 521px) {

    .portfoliopage__maintext {
        width: 75vw;
    }
}

@media only screen and (max-width: 320px) {

    .portfoliopage__intro {
        font-size: 1.6rem;
    }
    
}

/*********************************************************** 
DRAWING PAGE
***********************************************************/

.drawings {
    margin: 12rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-out;
}

.drawings__container {
    margin: 12rem auto 0 auto;
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); 
    grid-gap: 1.6rem;
    transition: all .5s ease-out;
}

.drawings__figure {
    max-width: 100%;
}

.drawings__images {
    width: 100%;
}

.drawings__figcaption {
    margin-top: -3rem;
    margin-left: 1rem;
    font-size: 1.6rem;
    font-style: italic;
}

@media only screen and (max-width: 815px) {

    .drawings {
        margin: 6rem auto 0 auto;
    }
    
    .drawings__container {
        margin: 6rem auto 0 auto;
        grid-template-columns: 1fr; 
        grid-gap: 1.2rem;
    }

}

/*********************************************************** 
FOOTER - EVERY PAGE
***********************************************************/

.footer {
    padding-top: 8rem;
}

.footer__text {
    font-size: 1.6rem;
    margin: 6rem auto 4rem auto;
    text-align: center;  
}

.footer__text p {
    margin: 2rem 0 8rem 0;
}

/*********************************************************** 
LINKS 
***********************************************************/

.links__dec {
    color: var(--color-text);
}

.links__dec:hover {
    color: var(--color-inverse);
    transition: all .2s ease-out;
}

.links__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6rem auto;
    width: 20vw;    
}

.links__svg {
    fill: var(--color-text);
    height: 2rem;   
    margin: 0 9.5rem;
    transform: scale(1);
}

.links__svg:hover {
    fill: var(--color-text);
    transform: scale(1.2);
    transition: all .2s ease-out;
}

@media only screen and (max-width: 521px) {

    .links__svg {
         margin: 0 3rem;    
    }
}